/* Frontoffice */
.frontoffice-main__title {
  text-align: center;
}

.error__title {
  text-align: center;
}

.error__image {
  display: block;
  margin: 0 auto;
}

/* Backoffice */
.intro {
  text-align: center;
}

.intro__description {
  font-size: 1.5em;
}

.selection-button {
  min-width: 150px;
}