/* frontoffice */
.app {
  overflow-x: hidden;
  color: rgb(226, 226, 226);
}

/* Frontoffice navigation */
.frontoffice-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #262626;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: rgb(226, 226, 226);
  letter-spacing: 1.8px;
  font-size: 1.5em;
  font-weight: bold;
}

.logo:hover,
.nav-link:hover {
  color: #BF4E83;
}

.nav-links {
  position: fixed;
  z-index: 99;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

/* toggle the nav */
.nav-active {
  transform: translateX(0%);
}

/* links */
.nav-link {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  text-align: center;
}

.front-nav-item {
  opacity: 0;
}

/* nav items animations */
@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* button to open menu */
.burger {
  display: block;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/* burger lines */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;  
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Frontoffice home.tpl.php*/
.frontoffice-main {
  position: absolute;
  top: 8vh;
  background-color: #8C2756;
}

.frontoffice-intro {
  text-align: center;
  margin: 1em 1.5em 2em 1.5em;
}

.frontoffice-intro__title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.frontoffice-intro__info {
  font-size: 1.2em;
  line-height: 1.2em;
}

.error__title {
  text-align: center;
}

.error__image {
  display: block;
  margin: 0 auto;
}

/* Backoffice home.tpl.php*/
.intro {
  text-align: center;
}

.intro__description {
  font-size: 1.5em;
}

.selection-button {
  width: 250px;
}

.frontoffice__home-section__title {
  font-size: 1.6em;
  text-align: center;
  border: 2px solid rgb(226, 226, 226);
  width: 90%;
  margin: 0 auto;
  padding: .5em;
}

.frontoffice__home-article {
  width: 300px;
  margin: 2em auto;
  position: relative;
}

.frontoffice__home-article__image {
  width: 100%;
}

.frontoffice__home-article__title {
  font-size: 1.5em;
  color: rgb(226, 226, 226);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen AND (min-width: 1024px) {
  .app {
    overflow-x: unset;
  }

  .frontoffice-nav {
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100vw;
  }

  .burger {
    display: none;
  }

  .nav-links {
    position: unset;
    transform: unset;
    height: 8vh;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
  }

  .front-nav-item {
    opacity: 1;
    color: white;
  }
}